body {
    margin: 50px 150px;
    text-align: center;
    font-size: 16px;
    font-family: "Futura", "Trebuchet MS", sans-serif
}

h1 {
    font-size: 60px;
}

table {
    font-size: 16px;
    border: 0;
    margin: 0 auto;
    border-spacing: 0;
}

table tr {
}

table thead th {
    padding: 0 10px;
    border-bottom: 2px solid black;
}

table tbody th {
    padding-right: 25px;
}

table tbody td {
    text-align: center;
}

div.center {
    clear: both;
}

div.left {
    margin-left: 30px;
    float: left;
    width: 45%;
}

div.right {
    margin-right: 30px;
    float: right;
    width: 45%;
}
